<footer class="footer">
    <div class="footer-content">
        <br/>

        <span id="RunTime" style="color:#a7a7a2;"></span>
        <br/>

        <span>
            <%- partial('plugins/site-visit') %>
        </span>
        <br/>

        <span class="license"><%- __('footer.license') %></span>
    </div>
</footer>
<script src="//code.tidio.co/fmaeeuxp0rkhhu5ndnz6lc5czosaww8z.js"></script>
